{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
  Login
{% endblock title_block %}

{% block custom_styles %}
  <!-- Custom styles for this template -->
  <link href="http://v4-alpha.getbootstrap.com/examples/signin/signin.css" rel="stylesheet">
{% endblock custom_styles %}

{% block body_block %}
  <h1>Login to Rango</h1>
  <form method="post" action=".">
    {% csrf_token %}

    <strong>{{ error_message }}</strong>
    <br>
    {{ form.as_p }}
    <input type="submit" value="Log in">
    <input type="hidden" name="next" value="{{ next }}">
  </form>
  <p>
    Not a member?
    <a href="{% url 'registration_register' %}">Register</a>
  </p>
{% endblock body_block %}
